<div class="container">
  <ul class="nav nav-tabs mt-5">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/admin/Pizza']">pizza</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/Boisson']">Boisson</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/admin/Dessert']">Déssert</a>
    </li>
  </ul>
    <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Nom de la pizza</th>
            <th scope="col">Prix</th>
            <th scope="col">Base</th>
            <th scope="col">Liste des ingrédients</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pizza of pizzas">
            <th scope="row">{{ pizza.name }}</th>
            <td>{{ pizza.price }} €</td>
            <td>{{ pizza.base }}</td>
            <td>
              <ul>
                <li *ngFor="let ingredient of pizza.ingredient">{{ ingredient }}</li>
              </ul>
            </td>
            <td><fa-icon [icon]="faTrash" class="trash py-3 px-0 px-lg-3 rounded"></fa-icon></td>
            <td><fa-icon [icon]="faEdit" class="update py-3 px-0 px-lg-3 rounded"></fa-icon></td>
          </tr>
        </tbody>
    </table>

    <a id="tablebtn" class="btn btn-primary mt-3 text-light  mb-5" [routerLink]="['/admin/Pizza/Ajout']" role="button">Ajouter une pizza à la liste</a>
</div>