<div id="display">
    <!-- Default form login -->
    <form class="border border-light p-5" (submit)="update()">
        <p class="h4 mb-4">Modifier un déssert</p>
        <!-- Nom du dessert -->
        <div class="formDisplay">
            <div class="form-group">
                <label for="name">Nom du dessert</label>
                <input type="text" id="name" name="name" class="form-control mb-4" [(ngModel)]="newDessert.name" >
            </div>
            <!-- image du dessert -->
            <div class="form-group">
                <label for="image">insérer image</label>
                <input type="text" id="image" name="image" class="form-control mb-4" [(ngModel)]="newDessert.image" >
            </div>
        </div>
        
        <div class="formDisplay">
            <!-- prix du dessert -->
            <div class="form-group">
                <label for="price">Prix du dessert</label>
                <input type="number" id="price" name="price" class="form-control mb-4" [(ngModel)]="newDessert.price">
            </div>
            <!-- quantité du dessert -->
            <div class="form-group">
                <label for="quantity">Quantité</label>
                <input type="number" id="quantity" name="quantity" class="form-control mb-4" [(ngModel)]="newDessert.quantity">
            </div>
        </div>

        <!-- ajout d'un ingrédient -->
        <form id="formIngredient" class="mt-3" (submit)="addIngredient()">
                <div class="form-group">
                    <label for="ingredient">Ajouter des ingrédients</label>
                    <input type="text" id="ingredient" name="ingredient" class="form-control mb-4" [(ngModel)]="newIngredient.ingredient">
                </div>
                <button mdbBtn color="info" block="true" class="btn btn-primary text-light" type="submit">Ajouter ingrédient</button>
        </form>

        <!-- ingrédient du dessert -->
        <div class="form-group row">
              <label class="checkbox-inline m-1 col-3" for="ingredient" *ngFor="let ingredient of ingredients">
                 <input class="form-check-input m-1" type="checkbox" id="{{ingredient.ingredient}}" name="ingredient" [value]="ingredient.ingredient" (change)="onCheckChange(ingredient.ingredient)">{{ ingredient.ingredient }}
              </label>
        </div>
        <!-- Add button -->
        <button mdbBtn color="info" block="true" class="my-4 btn btn-primary text-light mb-5" type="submit">Modifier</button>
    </form>
</div>